<!-- views/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head></head>
<body class="container">
    <main>
        <div>
            <h1>This is Error Page! Something went wrong!</h1>
        </div>
    </main>
</body>
</html>