<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Gloria</title>
    <% include ./parts/head %>
</head>
<body class="container">
    <header>
        <% include ./parts/userHeader %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Hi  <%- user.local.username %> !</h1>
            <% if(user.local.username === 'admin') { %>
                <a href="/signup" class="btn btn-primary btn-lg">Create a new user</a>
            <% } %>
        </div>
    </main>
    <footer>
        <% include ./parts/footer %>
    </footer>
</body>
</html>