<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head></head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Welcome</h1>
        </div>
    </main>
</body>
</html>