<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        body { padding-top:80px; }
    </style>
    <script type="text/javascript" src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Welcome  <%- user.local.username %></h1>
            <% if(user.local.username === 'admin') { %>
                <a href="/signup" class="btn btn-primary btn-lg">Create a new user</a>
            <% } %>
            <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
        </div>
    </main>
    <footer>
        <p class="text-center text-muted">© All Rights Reserved by Tom Duan</p>
    </footer>
</body>
</html>