<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>   
    <title>Sign up a new accout to Gloria</title>
    <% include ./parts/head %>
</head>
<body class="container">
    <main>
        <header>
            <% include ./parts/userHeader %>
        </header>
        <div class="jumbotron">
            <div class="container">
                <h2>Create a new account</h2>
                <div class="col-sm-3">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <form method="post" action="/signup">
                        <div class="form-group">
                            <label>Username: </label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password: </label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ./parts/footer %>
    </footer>
</body>
</html>